/*Chapter 9 Styling*/
/*example 2.4*/
.us {
    fill: #fff; 
    stroke: #CCC;
    stroke-width: 1px;
}
.midwest {
    stroke: #fff;
    stroke-width: 0.5px;
    stroke-linecap: round;
}
/*example 2.5*/
.map {
    border: medium solid #999;
    margin: 5px 0 0 0;
    background:#D5E3FF;
}
/*Chapter 10 Styling*/
.chart {
    background-color: rgba(128,128,128,.2);
    border: medium solid #999;
    float: right;
    margin: 5px 0 0 0;
}