/*Chapter 9 Styling*/
/*example 2.4*/
.us {
    fill: #fff; 
    stroke: #CCC;
    stroke-width: 1px;
}
.midwest {
    stroke: #fff;
    stroke-width: 0.5px;
    stroke-linecap: round;
}
/*example 2.5*/
.map {
    border: medium solid #999;
    margin: 5px 0 0 0;
    background:#D5E3FF;
}
/*Chapter 10 Styling*/
.chart {
    background-color: rgba(128,128,128,.2);
    border: medium solid #999;
    float: right;
    margin: 5px 0 0 0;
}
/*Chapter 11 Styling*/
/*example 1.2*/
/*example 1.2*/
.navbar{
    top:0;
    left:0;
    background:lightgray;
    padding:20px;
}
.dropdown {
    z-index: 10;
    font-family: sans-serif;
    font-size: 1em;
    font-weight: bold;
    padding: 2px;
    border: 2px solid #999;
    box-shadow: 2px 2px 4px #999;
    /*chapter 11 example 1.9*/
    margin-right:15px;
}
option {
    font-weight: normal;
}
/*Example 1.15*/
.dropdown-label{
    display:inline;
    
}
/*example 2.4*/
.selected{
    stroke: blue;
    stroke-width: 2px;
}
/*example 2.8*/
.infolabel {
    position: absolute;
    height: 50px;
    min-width: 100px;
    color: #fff;
    background-color: #000;
    border: solid thin #fff;
    padding: 5px 10px;
}

.infolabel h1 {
    margin: 0 20px 0 0;
    padding: 0;
    display: inline-block;
    line-height: 1em;
}
