/*.navbar{
    top:0;
    left:0;
    height:100px;
    background:lightgray;
    padding:10px;
}
.pageTitle{
    margin-bottom:5px;

}*/
/*Chapter 8 Styling*/
.chartBackground {
    fill: rgba(128,128,128,.2);
    stroke: #999;
    stroke-width: 3px;
    shape-rendering: crispEdges;
}
.title{
    font-family: sans-serif;
    font-size: 1.5em;
    font-weight: bold;
}
/*Chapter 9 Styling*/
.map {
    border: medium solid #999;
    margin: 10px 0 0 20px;
    background:#D5E3FF;
}
.us {
    fill: #fff; 
    stroke: #CCC;
    stroke-width: 1px;
}
.midwest {
    stroke: #fff;
    stroke-width: 0.5px;
    stroke-linecap: round;
}
/*chapter 10 Styling */
/*example 2.3*/
.map {
    border: medium solid #999;
    margin: 5px 0 0 0;
}
.chart {
    background-color: rgba(128,128,128,.2);
    border: medium solid #999;
    float: right;
    margin: 5px 0 0 0;
}
/*Chapter 11 styling*/
/*example 1.2*/
.dropdown {
    z-index: 10;
    font-family: sans-serif;
    font-size: 1em;
    font-weight: bold;
    padding: 2px;
    border: 1px solid #999;
    box-shadow: 2px 2px 4px #999;
    /*chapter 11 example 1.9*/
    margin-right:15px;
}

option {
    font-weight: normal;
}
/*example 1.2*/
.navbar{
    top:0;
    left:0;
    height:100px;
    background:lightgray;
    padding:20px;
}
/*example 1.9*/
.pageTitle{
    margin-top:5px;
}
/*example 2.4*/
.selected{
    stroke: blue;
    stroke-width: 2px;
}
/*Example 2.8*/
.infolabel {
    position: absolute;
    min-width: 100px;
    color: #fff;
    background-color: #000;
    border: solid thin #fff;
    padding: 5px 10px;
}
.infolabel h1 {
    margin: 5px;
    padding: 0;
    display: inline-block;
    line-height: 1em;
}
/*Example 3.3*/
.dropdown-label{
    display:inline;
}
/*Example 3.1*/
/*chart styling on small screens*/
@media only screen and (max-width: 700px){
    .chart {
        float:none;
    }
}

/*
.numbers {
    fill: white;
    font-family: sans-serif;
}
.bubbleChart{
    float: left;
    margin: 10px 0 0 0px;
}

.bubbleChartTitle {
    font-family: sans-serif;
    font-size: 1em;
    fill:#999
}

.axis path,
.axis line {
    fill: none;
    stroke: #999;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}
.axis text {
    font-family: sans-serif;
    font-size: 0.8em;
    fill: #999;
}

option {
    font-weight: normal;
}*/

/*Example 2.11
.infolabel {
    margin: 0 20px 0 0;
    position: absolute;
    height: 50px;
    min-width: 100px;
    color: #fff;
    background-color: #000;
    border: solid thin #fff;
    padding: 5px 10px;
    top: -75px;
}*/


