/*example 3.10*/
.axis path,
.axis line {
    fill: none;
    stroke: #000;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}
.axis text {
    font-family: sans-serif;
    font-size: 1.2em;
    fill: #000;
}
/*example 3.13*/
.title {
    font-family: sans-serif;
    font-size: 1.5em;
    font-weight: bold;
}